.slider {
    margin: 0 auto;
    width: 0;
    height: 0;
    overflow: hidden;

    &.active {
        width: 60%;
        height: 100%;
        visibility: visible;
    }

    img {
        width: 100%;
    }
}

.navigation-btn-prev {
    top: 30%;
    position: absolute;
    left: 10%;
}

.navigation-btn-next {
    top: 30%;
    position: absolute;
    right: 10%;
}